/* Google font Noto Sans Bengali  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400vh;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: "Noto Sans Bengali";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn{
  color: #ffff;
  border: none;
  outline: none;
  padding: 4px 20px;
  font-size: 16px;
  background: #079992;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 15px gray;
}

:root {
  --primary-color: rgba(48, 47, 47, 0.849);
  --heading-color: #130f40;
  --primary-title-font-size: 28px;
  --secondary-title-font-size: 22px;
}

/* header styles start  */

.header_container {
  position: relative;
  z-index: 100;
}

.header_inner_content {
  justify-content: space-between;
  background: #ffff;
  box-shadow: 0px 1px 10px gray;
  padding: 10px 60px;
}
.logo {
  gap: 5px;
  cursor: pointer;
  color: var(--heading-color);
}
.logo img {
  width: 70px;
}
.logo h3 {
  font-weight: 500;
  font-size: var(--secondary-title-font-size);
}

.menu_content ul.menu_link {
  gap: 40px;
}

.menu_content ul.menu_link li a {
  color: var(--primary-color);
  font-weight: 400;
}

.menu_content ul.menu_link li a:hover {
  color: var(--heading-color);
}
.admission_btn {
  padding: 4px 30px;
  margin-left: 80px;
}

.fa-solid {
  font-size: 17px;
  color: var(--heading-color);
}

i#menuCloseBtn {
  font-size: 20px;
}

.hidden {
  display: none;
}

.menu_toggle {
  font-size: 20px;
  color: rgb(2, 51, 44);
  cursor: pointer;
  margin-left: 50px;
  display: none;
}

@media screen and (max-width: 768px) {
  .header_inner_content {
    padding: 10px 30px;
  }

  .logo img {
    width: 50px;
  }
  .logo h3 {
    font-size: 17px;
  }

  .menu_content ul.menu_link {
    flex-direction: column;
    align-items: start;
    padding: 20px;
    position: absolute;
    top: 67px;
    right: 0;
    width: 50%;
    background: rgb(110, 212, 219);
    gap: 20px;
    transition: all 0.5s;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }

  .menu_content ul.menu_link li a {
    color: #ffffffef;
    margin-left: 20px;
  }
  .menu_content ul.menu_link.active {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }

  .menu_toggle {
    display: block;
    margin-left: 20px;
  }

  .hidden {
    display: none;
  }

  .admission_btn {
    color: #ffff;
    border: none;
    outline: none;
    padding: 4px 15px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .header_inner_content {
    padding: 10px 15px;
  }
}

/* header styles end */
.hero_container {

}

/* Change dot position */
.slick-dots {
  bottom: 20px;
}
/* Change dot color */
.slick-dots li button:before {
  color: rgba(235, 231, 231, 0.527); 
  font-size: 12px;
  opacity: 0.75; 

}

/* Change active dot color */
.slick-dots li.slick-active button:before {
  color: rgb(244, 247, 247) !important; 
  opacity: 1;
}


.hero_notice_container {
  
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 15px 20px;
  background: rgb(9, 100, 100);
  font-size: 17px;
  color: #ffffffd2;
  font-weight: bold;
  margin-top: -30px;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%; 
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(1%); 
  }
  100% {
    transform: translateX(-100%);
  }
}

